.megamenu_card {
 
  .overlay-base {
    position: relative;
    overflow: hidden !important;
    width: 100%;
    aspect-ratio: 16/9;
    img {
      height: 100%;
      width: 100%;
    }

    .menu-overlay {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
      height: 100%;
      width: 100%;
      h3 {
        transition: var(--hover-animation);
        position: absolute;
        bottom: 20%;
        left: 0;
        margin-left: 1.3rem;
        color: #fff !important;
        font-size: 1.3rem;
        font-weight: 600;
        border-left: 3px solid#fff;
        padding-left: 1rem;
      }
      &:hover {
        h3 {
          bottom: 30%;
        }
      }
    }
  }
}
